*{
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

html, body {
    height: 100%;
}

.logo{
    font-style: italic;
    color: rgb(32, 158, 158);
    padding: 20px 20px;
    font-size: 35px;
}

nav{
    padding: 10px 5px;
    min-width: 100%;
    height: 55px;
    background-color: #228751;
}

button{
    height: 55px;
    background-color: #29a060;
    border: 1px solid #228751;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

button:not(:last-child) {
    border-right: none;
}

button:hover{
    background-color: #1c7445;
}

.content{
    min-height: 100%;
    background-color: #00b454;
}