*{
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

html, body {
    height: 100%;
}

.logo{
    font-style: italic;
    color: rgb(32, 158, 158);
    padding: 20px 20px;
    font-size: 35px;
}

nav{
    padding: 10px 5px;
    min-width: 100%;
    height: 55px;
    background-color: #228751;
}

.nav-btn{
    height: 55px;
    background-color: #29a060;
    border: 1px solid #228751;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: left;
    user-select: none;
}

button:not(:last-child) {
    border-right: none;
}

button:hover{
    background-color: #1c7445;
}

.content{
    min-height: 100%;
    background-color: #00b454;
}

input{
    margin-top: 2%;
    margin-left: 36%;
    border-radius: 3px;
    border: 3px solid #007B25;
    width: 400px;
    height: 150px;
    text-align: right;
    font-size: 30px;
}

.calc-btn{
    margin-left: 1%;
    margin-top: 1%;
    text-align: center;

    background: #007633;
    width: 50px;
    height: 50px;
    cursor: pointer;

    border-radius: 2px;
    color: white;
    font-size: 20px;
    user-select: none;
    border: none;
    
}

.calc-btn:hover{
    background: #025526;
}

.rows{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}