*{
    font-family: sans-serif;
    margin: 0;
}

nav{
    background: linear-gradient(#31313b, #2a2a2b);
    color: #D7DAEC;
    height: 25px;
    padding: 20px 20px 20px 20px;
}

.content{
    background: #343b3f;
    height: 730px;
    color: #ffffff;
    padding: 40px 40px 40px 40px;
}

select{
    color: white;
    height: 25px;
    width: 100px;
    background: #31313b;
    border: 1px solid black;
}

select:hover{
    background: #43434d;
}

.search{
    background-color: #31313b;
    border-radius: 5px;
    color: white;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: sans-serif;
    height: 25px;
    width: 80px;
}

.search:hover{
    background-color: #43434d;
}
