*{
    font-family: sans-serif;
    margin: 0;
    
}

body{
    background: #343b3f;
}

nav{
    background: linear-gradient(#31313b, #2a2a2b);
    color: #D7DAEC;
    height: 25px;
    padding: 20px 20px 20px 20px;
}

.content{
    height: 730px;
    color: #ffffff;
}

.fraction {
    padding: 0px 20px 50px 150px;
}

.season{
    margin-left: 480px;
}

.osnova{
    margin-left: 20px;
    background-color: rgba(197, 182, 42, 0.1);
    background-image: url(./images/osnovaccc.png);
    border-radius: 5px;
    transition: 0.8s background-color;
    transition: 0.8s border-radius;
}

.osnova:hover{
    background-color: #e4d232;
    border-radius: 50px;
}

.syndycat{
    margin-left: 25px;
    background-color: rgba(140, 39, 122, 0.1);
    background-image: url(./images/syndycatccc.png);
    border-radius: 5px;
    transition: 0.8s background-color;
    transition: 0.8s border-radius;
}

.syndycat:hover{
    background-color: #c039a7;
    border-radius: 50px;
}

h2{
    padding: 40px 40px 40px 90px;
}


.fraction{
    padding: 0px 20px 50px 150px;
}

.fraction img{
    margin-right: 25px;
}

.n1{
    margin-left: 35px;
}

.n2{
    margin-left: 95px;
    margin-right: 95px;
}

.n3{
    margin-right: 75px;
}

.n4{
    margin-right: 70px;
}

.n6{
    margin-left: 55px;
}

.n7{
    margin-left: 55px;
}

.firebtn1{
    background-color: rgba(123, 72, 10, 0.1);
    border-radius: 5px;
    transition: 0.8s background-color;
    transition: 0.8s border-radius;
}

.firebtn1:hover{
    background-color: #945b15;
    border-radius: 50px;
}

.childsbtn1{
    background-color: rgba(10, 33, 80, 0.1);
    border-radius: 5px;
    transition: 0.8s background-color;
    transition: 0.8s border-radius;
}

.childsbtn1:hover{
    background-color: #1a3c81;
    border-radius: 50px;
}

.wolfbtn1{
    background-color: rgba(10, 59, 45, 0.2);
    border-radius: 5px;
    transition: 0.8s background-color;
    transition: 0.8s border-radius;
}

.wolfbtn1:hover{
    background-color: #0F644C;
    border-radius: 50px;
}

.musorsikibtn1{
    background-color: rgba(131, 113, 38, 0.1);
    border-radius: 5px;
    transition: 0.8s background-color;
    transition: 0.8s border-radius;
}

.musorsikibtn1:hover{
    background-color: #C8AE46;
    border-radius: 50px;
}

.skitalcibtn1{
    background-color: rgba(22, 37, 27, 0.2);
    border-radius: 5px;
    transition: 0.8s background-color;
    transition: 0.8s border-radius;
}

.skitalcibtn1:hover{
    background-color: #2f5a3e;
    border-radius: 50px;
}

.becheniebtn1{
    background-color: rgba(88, 8, 25, 0.1);
    border-radius: 5px;
    transition: 0.8s background-color;
    transition: 0.8s border-radius;
}

.becheniebtn1:hover{
    background-color: #86132c;
    border-radius: 50px;
}

.mechanicbtn1{
    background-color: rgba(34, 46, 53, 0.1);
    border-radius: 5px;
    transition: 0.8s background-color;
    transition: 0.8s border-radius;
}

.mechanicbtn1:hover {
    background-color: #35576b;
    border-radius: 50px;
}

.s1{
    margin-left: 40px;
    margin-right: 90px;
}
